*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 ul {
    list-style: none;
 }
 a {
    text-decoration: none;
    outline: none;
 }
 img {
    display: block;
    width: 100%;
 }
 h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    letter-spacing: 1px;
 }
 body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: #f7f7f7;
}




body {
    background: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/935d26ae03315201b50dd7cc/wsqe-min.jpg);
    background-size: cover;
}

.blok_header {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    width: 100%;
    height: 80px;
    align-items: center;
    color: #111111;
    margin-bottom: 60px;
    background: white;
}

.blok_header_button {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    color: black;
}

.blok_img {
    width: 64px; 
    
}

.blok_button_one {
    display: flex; 
}

.blok_button_two {
    display: none;
    flex-wrap: wrap;
    line-height: 10px;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;


}

.button {
    color: black;
    padding: 10px 20px;
}

a:hover {
    color: red;
}


.blok_section {
    width: 100%;
    height: 100%;
    justify-content: space-around; 
    display: flex;}

h2 {
    font-size: 96px;
    font-weight: 400;
    line-height: 1;
    color: #ca6552;
    margin-right: 20px;
    font-family: 'Roboto',sans-serif;
}

h3 {
    font-size: 20px; 
    line-height: 1.2; 
    font-family: 'Montserrat', sans-serif;
}

.blok_text_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.blok_inform { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    color: #111111;
    font-family: 'Open Sans',sans-serif;
    max-width: 1140px;
    font-size: 16px;
    line-height: 1.6;
}

.blok_text {
    padding: 50px 30px 40px;
    background-color:rgba(255, 255, 255, 0.6);
    width: calc((100% - 40px) / 3);
}

.blok_text:nth-child(-n+3) {
    margin-bottom: 20px;
}

p {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: 1.8;
    margin: 55px 0;
}

.blok_text_button {
    border-style: none none solid;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    border-color: #de392e;
    border-width: 2px;
    color: black;
}

.blok_inform_footer {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.blok_inform_footer_button {
    border-style: none none solid;
    border-width: 2px;
    color: #ffffff;
}


@media (max-width:1200px) {
    .blok_inform{
        max-width:940px;
    }
}


@media (max-width:990px) {
    .blok_inform{
        max-width:720px;
    }

    .blok_text {
        width: calc((100% - 20px) / 2);
    }

    .blok_text:nth-child(-n+4) {
        margin-bottom: 20px;
    }
    

    .blok_button_one {
        display: none; 
    }
    
    .blok_button_two {
        height: 5px; 
        width:30px;
        display: flex;
    }    
    
}



@media (max-width:770px) {
    .blok_inform{
        max-width: 540px;
    }

    .blok_text:nth-child(-n+5) {
        margin-bottom: 20px;
    }


    .blok_text {
        width: 100%;
        flex-direction: column;

    }

}


@media (max-width:580px) {
    .blok_inform{
        max-width: 340px;
    }

    .blok_text {
        width: 100%;
        flex-direction: column;

    }

}
